.sidebar .list-group-item {
	background: transparent !important;
	color: #fff !important;
	border-color: #fff !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
	padding: 10px 4px 10px 30px;
    text-transform: capitalize;
}
.sidebar-btn {
	position: absolute !important;
	bottom: 50px !important;
	left: 50% !important;
	right: 50% !important;
	transform: translate(-50%, -50%) !important;
}