.MuiPaper-root,
.bg-custom {
  background: linear-gradient(45deg, #2b7fca, #a32cd9) !important;
  color: #fff;
}

a {
  color: #fff !important;
}

.selected {
  margin: 0 !important;
  border-bottom: 0 !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(6, 228, 251) !important;
  text-decoration: underline;
}

.lined {
  display: inline-table;
  width: 100%;
  position: relative;
}

.lined::after {
  content: "";
  display: table-cell;
  width: 130px;
  position: absolute;
  height: 5px;
  top: 80px !important;
  left: 50%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  transform: translateX(-50%);
}

.text-brand {
  color: #9801ff;
}

.z-03,
.z-04,
.z-05,
.z-75,
.z-100,
.-z-01,
.-z-03,
.-z-master {
  position: relative;
}

.-z-01 {
  z-index: -1 !important;
}

.-z-03 {
  z-index: -30 !important;
}

.-z-01 {
  z-index: -1 !important;
}

.z-03 {
  z-index: 30 !important;
}

.z-05 {
  z-index: 50 !important;
}

.z-75 {
  z-index: 70 !important;
}

.z-100 {
  z-index: 100 !important;
}

.z-master {
  z-index: 9999 !important;
}

.-z-master {
  z-index: -9999 !important;
}

.btn-custom {
  padding: 0px 20px;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  border: 0px solid #e1e1e1;
  border-radius: 50px;
  transition: all 0.3s;
  background: linear-gradient(45deg, #2b7fca, #a32cd9) !important;
}

.btn-custom:hover {
  border: 0px solid #e1e1e1;
  color: #ffffff;
  box-shadow: 0px 5px 40px -15px #000000;
  transition: all 0.3s;
  background: linear-gradient(to left, #29ffc6, #20e3b2, #0cebeb);
}

footer {
  background-color: #131313;
  color: #ffffff;
  padding-bottom: 30px;
}

.icon {
  padding: 12px 19px;
  font-size: 1.5rem;
}

.fa-facebook {
  padding: 12px 24px;
}

.icon:hover {
  animation: tada 1s;
}

.btn-scroll-up:hover .btn-scroll-icon-up {
  animation: up 1s;
}

.tada:hover {
  animation: tada 1s;
}

.btn-scroll-up {
  padding: 10px 15px;
  bottom: 20px;
  right: 20px;
  border: 0;
  position: fixed;
}

.card:hover .service-img {
  animation: scale 1s;
}

.scale:hover {
  animation: scale 1s;
}

.star-icon-enabled,
.star-icon-disabled {
  font-size: 22px;
}

.star-icon-enabled {
  color: #edae10;
}
.star-icon-disabled {
  color: #a09a8c;
}

.form-error {
  box-shadow: none;
  border-bottom-color: #ff0707 !important;
  border-left: 4px solid #ff0707 !important;
}
.form-error:focus {
  box-shadow: none;
  border-bottom-color: #ff0707 !important;
  border-left: 4px solid #ff0707 !important;
}

@keyframes up {
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes scale {
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
